﻿@model AdminBoLayer.SkillMapping

@{
    ViewBag.Title = "SkillMapping";
}


<h2>SkillMapping</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SkillMapping</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Skill Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.SkillName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SkillName, "", new { @class = "text-danger" })*@
                @Html.DropDownListFor(model=>model.SkillName,new SelectList(ViewBag.data),"Select Skill")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Module Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ModuleName, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.ModuleName, "", new { @class = "text-danger" })*@
                @Html.DropDownListFor(model=>model.ModuleName, new SelectList(ViewBag.modules),"Select Module")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Map" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Dashboard", "Dashboard")
</div>
