
@{
    ViewBag.Title = "About";
}


<section class="u-clearfix u-image u-section-2" id="carousel_6918" data-image-width="662" data-image-height="750">
    <div>
        <img src="https://www.themodernacademy.in/images/41516171987.png" alt="Image not found"/>
    </div>
    
</section>